.dashboard-container {
  padding: 1.5rem;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.dashboard-column {
  flex-grow: 1;
  flex-grow: 0;
  flex-basis: 24rem;
  min-width: 24rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}

.dashboard-card {
  width: 100%;
  /* height: 8rem; */
  background-color: #fafafa;
  padding: 1rem;
  border-radius: 1rem;
}
